/*
.form-control {
    width: 350px;
    margin: 75px 0 0 75px;
    
}
.form-button {
    width: 350px;
    margin: 0 0 0 75px;
}
.form-control label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    background-color: red;
}
.form-control input {
    display: block;
    width: 100%;
    border: 1px solid black;
    font: inherit;
    line-height: 1.5rem;
    padding: 0 0.25rem;
    margin-bottom: 10px;
}
.form-control input:focus {
    outline: none;
    background: #fad0ec;
    border-color: #8b005d;
}
.form1 {
    background-color: blue;
    width:500px;
}
*/


.form-control {
    margin: 0.5rem 0;
  }
  
  .form-control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-control input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font: inherit;
    line-height: 1.5rem;
    padding: 0 0.25rem;
    margin-bottom: 10px;
  }
  
  .form-control input:focus {
    outline: none;
    background: #fad0ec;
    border-color: #8b005d;
  }
  
  .form-control.invalid input {
    border-color: red;
    background-color: pink;
  }
  
  .form-control.invalid label {
    color: red;
  }